body {
  font-family: "Pangolin", cursive;
  color: #282c46;
  font-size: 18px;
  font-weight: 600;
}

.container {
  max-width: 700px;
  margin: 80px auto;
}

.app-body {
  padding: 40px 50px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}

.form-control {
  width: 100%;
  font-size: 18px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  border-radius: 10px;
  height: 40px;
  padding: 0 15px;
  border: none;
}

.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  border: 1px solid #a3babc;
}

button {
  background: #78b7bb;
  color: white;
  border: 1px #78b7bb solid;
  border-radius: 10px;
  font-size: 17px;
  height: 40px;
  width: 100%;
  text-align: center;
  transition: all 200ms ease-in-out;
}

button:hover {
  opacity: 0.8;
}

.summary {
  margin: 30px auto 40px;
}

.city {
  font-size: 45px;
  line-height: 1;
}
.summary-detail {
  font-size: 20px;
}

.description:first-letter {
  text-transform: capitalize;
}

.current-weather {
  text-align: center;
  margin-top: 10px;
}

.main-icon {
  width: 170px;
}
.temp {
  font-size: 80px;
  vertical-align: middle;
}
.unit {
  position: relative;
  top: -20px;
  margin-left: 5px;
  font-size: 20px;
}

a {
  text-decoration: none;
}

.forecast {
  text-align: center;
}

.forecast-day {
  font-size: 20px;
}

.forecast-icon-img {
  max-width: 100%;
  margin: 10px auto;
}

.min-temp {
  opacity: 70%;
}

footer {
  display: block;
  text-align: center;
  margin: 20px auto;
  font-size: 15px;
}

footer a {
  color: #78b7bb;
  text-decoration: underline #78b7bb;
}

footer a:hover {
  color: #78b7bb;
}
