body {
  font-family: "Pangolin", cursive;
  color: #282c46;
  font-size: 18px;
  background: linear-gradient(
      111.5deg,
      rgb(228, 247, 255) 21.9%,
      rgb(255, 216, 194) 92.2%
    )
    no-repeat center center fixed;
  background-size: cover;
}

.container {
  max-width: 700px;
  margin: 80px auto;
}

.app-body {
  padding: 40px 50px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.17) 0px 3px 9px;
  background: rgba(0, 0, 0, 0.05);
}

.form-control {
  width: 100%;
  font-size: 18px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  border-radius: 10px;
  height: 40px;
  padding: 0 15px;
  border: none;
}

.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  border: 1px solid #282c46;
}

.search .btn {
  background: #282c46;
  color: white;
  border: 2px #282c46 solid;
  font-size: 18px;

  height: 40px;
  line-height: 20px;
  padding: 0;
  border-radius: 10px;
}

button:hover {
  opacity: 0.9;
}

.summary {
  margin: 30px auto 40px;
}

.city {
  font-size: 45px;
  line-height: 1;
}
.summary-detail {
  font-size: 20px;
}

.description:first-letter {
  text-transform: capitalize;
}

.current-weather {
  text-align: center;
  margin-top: 10px;
}

.main-icon {
  width: 160px;
}
.temp {
  font-size: 80px;
  vertical-align: middle;
}
.unit {
  position: relative;
  top: -20px;
  margin-left: 5px;
  font-size: 20px;
}

a {
  text-decoration: none;
}

.forecast {
  text-align: center;
}

.forecast-day {
  font-size: 20px;
}

.forecast-icon-img {
  width: 60px;
  margin: 10px auto;
}

.min-temp {
  opacity: 70%;
}

footer {
  display: block;
  text-align: center;
  margin: 20px auto;
  font-size: 15px;
}

footer a {
  color: #282c46;
  text-decoration: underline #282c46;
}

footer a:hover {
  color: #282c46;
}
