body {
  font-family: "Pangolin", cursive;
  color: #282c46;
  font-size: 18px;
}

.container {
  max-width: 700px;
  margin: 80px auto;
}

.app-body {
  padding: 40px 50px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  background: linear-gradient(
    111.5deg,
    rgb(228, 247, 255) 21.9%,
    rgb(255, 216, 194) 92.2%
  );
}

.form-style {
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;

  border: 1px;
  border-radius: 10px;
  height: 40px;
  padding: 0 15px;
}

.form-style:focus {
  border: 1px #282c46 solid;
  outline: none;
}

button {
  background: #282c46;
  color: white;
  border: 2px #282c46 solid;
  border-radius: 10px;
  font-size: 17px;
  height: 40px;
  width: 93%;
}

.search-button:hover {
  transition: all 200ms ease-in-out;
  opacity: 0.9;
}

.summary {
  margin: 30px auto 40px;
}

.city {
  font-size: 45px;
  line-height: 1;
  text-transform: capitalize;
}
.summary-detail {
  font-size: 20px;
}

.description:first-letter {
  text-transform: capitalize;
}

.current-weather {
  text-align: center;
  margin-top: 10px;
}

.main-icon {
  margin-right: 10px;
  width: 120px;
}
.temp {
  font-size: 80px;
  vertical-align: middle;
}
.unit {
  position: relative;
  top: -20px;
  margin-left: 5px;
}

a {
  text-decoration: none;
  color: #282c46;
}

a:hover {
  text-decoration: underline;
  color: #282c46;
}

.forecast {
  margin: 0 auto;
  text-align: center;
}

.forecast-day {
  font-size: 20px;
}

.forcast-icon {
  margin: 10px;
}
.forecast-icon-img {
  width: 40px;
  margin: 10px 0;
}
